.wrapper {
  width: 1440px;
  min-height: 425px;
  justify-content: center;
  row-gap: 24px;
  align-items: center;
  position: relative;
}

.heading1 {
  margin: 0 auto;
  font-size: var(--font-size-xl);
  line-height: 86.4px;
  text-align: center;
  background: linear-gradient(90deg, #4b83ff, #b794f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--font-weight-bold);
  font-family: var(--outfit);
  padding-top: 80px;
}
.headingColor {
  background: linear-gradient(90deg, #4b83ff, #b794f4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.para {
  font-size: var(--font-size-md);
  line-height: var(--line-height-xl);
  width: 772px;
  margin: 0 auto;
  font-family: var(--sans);
}

.button {
  width: 292px;
  height: 64px;
  background-color: rgba(26, 95, 255, 1);
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: var(--sans);
  cursor: pointer;
}

.img_section {
  position: relative;
  margin-top: 54px;
}

.img_section::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -5%;
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: rgba(230, 114, 0, 1);
  filter: blur(25px);
  z-index: -1;
}
.img_section::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -5%;
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: rgba(0, 66, 218, 1);
  filter: blur(25px);
  z-index: -1;
}

/* Place the background images */
.left_img_div {
  position: absolute;
  left: -3%;
  top: 2%;
}
.right_img_div {
  position: absolute;
  right: 0;
  top: 0;
}
