.wrapper {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.asideContainer {
  min-height: 800px;
  margin: 1rem 2rem;
  width: 344px;
  padding: 65px 17px;
  background-color: rgba(24, 24, 27, 1);
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.header {
  font-size: var(--font-size-xxs);
  font-family: var(--sans);
  line-height: var(--line-height-small);
  margin-bottom: 1rem;
  font-weight: var(--font-weight-semibold);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px;
}
.cards div {
  display: flex;
  align-items: center;
  width: 149px;
  padding: 9px 17px 9px 17px;
  background-color: rgba(31, 31, 35, 1);
  border: 1px solid rgba(39, 39, 42, 1);
  column-gap: 0.5rem;
  border-radius: 8px;
  height: 39px;
}
.options {
  cursor: pointer;
}
.options p {
  font-family: var(--sans);
  font-size: var(--font-size-xxs);
  color: rgba(255, 255, 255, 0.92);
}

.mainSpace {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5rem;
  height: 100%;
  gap: 2rem;
  overflow-y: scroll;
}

.startDiv {
  width: 309px;
  height: 60px;
  top: 150px;
  left: 744px;
  gap: 0px;
  background-color: rgba(24, 24, 27, 1);
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--sans);
  padding-left: 2rem;
  column-gap: 0.2rem;
}
.startDiv img {
  height: 21px;
  width: 21px;
}
/* Inout Styles */

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  position: relative;
  min-height: 119px;
  width: 315px;
  background-color: rgba(24, 24, 27, 1);
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inputs label,
.users_input label {
  font-family: var(--sans);
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}
.plabel {
  color: rgba(132, 132, 132, 0.33) !important;
  font-weight: 600;
  font-family: var(--sans);
}
.inputs p {
  background-color: rgba(31, 31, 35, 1);
  height: 45px;
  width: 283px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.inputs input {
  background-color: rgba(31, 31, 35, 1);
  height: 45px;
  width: 283px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding-left: 1rem;
  font-family: var(--sans) !important;
  color: white;
  font-weight: 600;
}

.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  margin-right: 10px; /* Space from the item */
  background-color: rgba(68, 68, 68, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 33px;
  width: 33px;
}

.users_input {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.users_input p {
  font-family: var(--sans);
  font-size: 12px;
  font-weight: 600;
  color: rgba(85, 85, 85, 1);
}
