.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.wrapper {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: var(--br-7xs);
}
.optionsContainer {
  width: 95%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.92);
  font-weight: var(--font-weight-extrabold);
  outline: none;
  border: none;
  font-family: var(--sans);
  font-size: var(--font-size-xs);
  padding: 0 0.5rem;
}
.optionsContainer option {
  background-color: #171923;
  color: rgba(255, 255, 255, 0.92);
  font-family: var(--sans);
  font-weight: var(--font-weight-semibold);
  outline: none;
  width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.optionsContainer option:last-child {
  color: rgba(255, 165, 76, 1);
}
.outlet {
  margin-top: 1.2rem;
}
