.tableContainer {
    overflow-x: auto;
    margin: 20px 0;
    width: 1440px;
    overflow-x: scroll;
    margin: 0 auto;
  }
  
  .scrollableTable {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
  }
  
  .scrollableTable th,
  .scrollableTable td {
    border: 1px solid #ddd;
    padding: 8px;
    background: transparent;
  }
  
  .scrollableTable th {
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .scrollableTable th,
  .scrollableTable td {
    white-space: nowrap;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .statBox {
    background-color: #323232;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin-top: 3rem;
    width: 195.75px;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  
  .scrollableTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableHeader {
    background-color: #e0e0e0;
    padding: 10px;
  }
  
  .scrollableTable td,
  .scrollableTable th {
    padding: 10px;
    border: 1px solid #ccc;
  }
  