.container {
  background: url("/assets/half_circle.svg") no-repeat,
    url("/assets/half_circle_right'.svg") no-repeat,
    url("/assets/top-cake.png") no-repeat,
    url("/assets/bottom-cake.png") no-repeat;
  background-position: 70% 100%, 100% 25%, 20% 35%, 19% 38%;
}
.flot_arrow_back {
  position: absolute;
  top: 10%;
  left: 10%;
  cursor: pointer;
}
.input_wrapper {
  row-gap: 1.5rem;
  width: 314px;
}
.input_div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.label {
  font-family: var(--poppins);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-medium);
}
.input {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  font-family: var(--poppins);
  height: 42px;
  padding-left: 1rem;
  color: white;
}

.buttons {
  row-gap: 1rem;
}
.button {
  width: 100%;
  background-color: rgba(26, 95, 255, 1);
  outline: none;
  height: 42px;
  border: none;
  border-radius: 12px;
  font-family: var(--poppins);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-medium);
  color: rgba(255, 255, 255, 1);
}
.button:hover {
  box-shadow: 0px 4px 10px 0px rgba(233, 68, 75, 0.25);
}

.options {
  font-family: var(--inter);
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-tiny);
}

.register {
  color: rgba(26, 95, 255, 1);
  text-decoration: none;
}
.register:hover {
  text-decoration: underline;
}

/* Error States */
.error {
  color: rgba(82, 34, 36, 1);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
}

.error-border {
  border-color: rgba(255, 39, 39, 0.5);
}
.label-error {
  color: rgba(255, 65, 65, 1);
}
