.createTypeBotContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
}
.createTypeBot {
  background-color: rgba(26, 95, 255, 1);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 80.2px 41.4px 80.21px 41.41px;
  cursor: pointer;
  height: 270px;
  width: 225px;
}
.forms {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 225px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--br-7xs);
  cursor: pointer;
}
.forms p {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_img {
  position: absolute;
  top: -5%;
  right: -9%;
  transform: translate(-50%);
}
